#Wirtualne środowiska
.venv/
venv/

#Baza SQLite
db.sqlite3
*.sqlite3

#Pliki tymczasowe Pythona
__pycache__/
**/__pycache__/
*.py[cod]

#Logi, systemowe
*.log
.DS_Store

#Sekrety
.env

#VS Code / IDE
.vscode/
.idea/

# Zebrane statyczne / media
staticfiles/
media/