body {
    background: linear-gradient(to right, #90caf9, #e3f2fd);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Styl ramki formularza */
.form-container {
    background-color: #f8f9fa;
    border: 2px solid #64b5f6;
    border-radius: 1rem;
    max-width: 500px;
    width: 90%;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Styl przycisków formularzy */
.btn-outline-dark {
    color: #0d6efd;
    border-color: #0d6efd;
    transition: 0.3s;
}

.btn-outline-dark:hover {
    background-color: #0d6efd;
    color: white;
}

/* Stopka – kolor i cień na górze */
footer {
    background: linear-gradient(to right, #90caf9, #e3f2fd);
    border-top: 1px solid #64b5f6;
    color: #333;
}

@media (max-width: 576px) {
    .form-container {
        padding: 20px;
        margin: 30px auto;
    }
}
